.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___img {
  width: 150px;
  height: 250px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.fighter-preview__name {
  background: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 1px 10px;
  color: rgb(44, 44, 44);
}

.fighter-preview__stats {
  /* font-size: larger; */
  background: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 1px 10px;
}

